# Virtual environment
ourenv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode settings
.vscode/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# MacOS
.DS_Store
